<div class="container">
  <h4><%= @story.title%></h4>
  <p><%= @story.content %></p>
  <br>
  <small>Submitted <%= time_ago_in_words(@story.created_at)%> ago</small>

  <hr>
  <div class="">
    Comments:

    <%= form_for [@story, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add comment here", class: 'form-control'%>
      <%= f.submit "Add comment", class: "btn btn-primary"%>
    <% end %>

    <div>
        <%= render(partial: 'comments/comment', collection: @story.comments.order(created_at: :desc))%>    
    </div>
  </div>
</div>
