<!DOCTYPE html>
<html>
  <head>
    <title>CommentingSystem</title>
    <%= csrf_meta_tags %>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <%= link_to "Stories", stories_url, class: "nav-link", style: 'color: black'%>
          </li>
          <li class="nav-item">
            <li>  <%= link_to 'Post a new strory', new_story_path, class: "nav-link", style: 'color: black'%></li>
          </li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
